<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" 
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\USER\Project\Dessert\Dessert\dessert.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=1234" 
         providerName="System.Data.OleDb"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>